@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

* { 
    margin: 0; 
    padding: 0; 
    font-family: 'Rajdhani', sans-serif;
}

@keyframes fade-in-body {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
        visibility: visible;
    }
}
@keyframes fade-out-body {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fade-in-menu {
    from {
        opacity: 0;
        padding-bottom: 0;
    }
    
    to {
        opacity: 1;
        visibility: visible;
        padding-bottom: 30px;
    }
}
@keyframes fade-out-menu {
    from {
        opacity: 1;
        padding-bottom: 30px;
    }
    
    to {
        opacity: 0;
        visibility: hidden;
        padding-bottom: 0;
    }
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

@keyframes spin-fade-out{ 
    from { 
        transform: rotate(0deg);
        opacity: 1;
    }
    to { 
        transform: rotate(360deg);
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes spin-fade-in{ 
    from { 
        transform: rotate(0deg);
        opacity: 0;
    }
    to { 
        transform: rotate(360deg);
        opacity: 1;
        visibility: visible;
    }
}

html { 
    background-color: white;
    margin: 2.5em;
}

body { 
    animation: fade-in-body 5s forwards;
    transition: 2s;
    transform: translate3d(0);
    backface-visibility: hidden;
    perspective: 1000;
}

#menu, #close { 
    top: 0;
    left: 0;
    color: rgb(60, 120, 248);
    font-size: 35px;
    position: absolute;
    transition: 1s;
}

#menu:hover, #close:hover { 
    cursor: pointer;
}

.dropdown-menu { 
    width: 25%;
    margin-top: -35px;
    margin-left: 15px;
    margin-bottom: 10px;
    position: relative;
}
.dropdown-menu ul { 
    list-style: none;
    width: 100%;
}
.dropdown-menu li { 
    width: 100%;
    font-size: x-large;
}
.dropdown-menu li:hover { 
    cursor: pointer;
    color: rgb(60, 120, 248);
}

.title h1 { 
    font-size: 40px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: -75px; 
    text-align: center;
    color: black;
    transition: 1s;
}

.bio p { 
    
    font-size: 20px;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    color: black;
    transition: 1s;
}

.github-card { 
    margin:0 auto;
    margin-top: 2em;
    border-radius: 10px;
    border: .75px solid black;
    width: 100%;
    max-width: 375px;
    height: 120px;
    background-color: rgb(60, 120, 248);
    animation-name: floating;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transition: 1s;
    transform: translate3d(0);
    backface-visibility: hidden;
    perspective: 1000;
}

.github-card:hover { 
    cursor: pointer;
}

.github-card div { 
    float: left;
    word-wrap: break-word;
}
#github-card-info { 
    max-width: 250px;
    width: 53%;
}

.github-card ul >li { 
    display: inline-block;
}

.github-card img { 
    padding-right: 10px;
    height: 120px;
    width: 120px;
    border-radius: 10px;
}

.github-card h4, .github-card h5, .github-card h6, .github-card li { 

    color: white;
    transition: 1s;
    overflow: hidden;
}

.github-card h5 { 
    text-decoration: underline;
}

.github-card h6 { 
    font-size: small;
    font-style: italic;
    margin-bottom: 2px;
}

.github-card ul { 
    list-style: none;
    margin-bottom: 4px;
}

.github-card li { 
    font-size: smaller;
}

.contact { 
    margin: auto;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
    transition: 1s;
    transform: translate3d(0);
    backface-visibility: hidden;
    perspective: 1000;
}

.contact p { 
    
    font-size: 20px;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    text-align: center;
    color: black;
    transition: 1s;
}

.contact a { 
    font-size: 50px;
    margin-top: .5em;
    margin-left: 5%;
    margin-right: 5%;
    width: fit-content;
    transition: 1s;

    display: inline-block;
    position: relative;
}

#linkedin, #email { 
    color: black;
    float: left;
    animation-name: floating;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transition: 1s;
}

#linkedin { 
    animation-delay: 2s
}
#email { 
    animation-delay: 4s;
}

@media all and (min-width: 800px) {
    .title h1 { 
        font-size: 50px;
    }
    .contact p, .bio p { 
        font-size: 25px;
    }
    #menu, #close { 
        top: 2.5%;
        left: 2.5%;
    }
    .dropdown-menu { 
        margin-top: -20px;
        margin-left: 30px;
    }
}

@media all and (min-width: 1024px) {
    .title h1 { 
        font-size: 55px;
    }
    .contact p, .bio p { 
        font-size: 30px;
    }
}

.spin-out { 
    animation: spin-fade-out 1s forwards;
    transform: translate3d(0);
}

.spin-in { 
    animation: spin-fade-in 1s forwards;
    transform: translate3d(0);
}

.fade-in { 
    animation: fade-in-menu 1s forwards;
    transform: translate3d(0);
}
.fade-out { 
    animation: fade-out-menu 1s forwards;
    transform: translate3d(0);
}

.current { 
    color: rgb(60, 120, 248);
}