@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

* { 
    margin: 0; 
    padding: 0; 
    font-family: 'Rajdhani', sans-serif;
}


/* ANIMATIONS */ 

@keyframes fade-in-body {
    from {
        opacity: 0;
        visibility: hidden;
    }
    
    to {
        opacity: 1;
        visibility: visible;
    }
}
@keyframes fade-out-body {
    from {
        opacity: 1;
        visibility: visible;
    }
    
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fade-in-menu {
    from {
        opacity: 0;
        padding-bottom: 0;
    }
    
    to {
        opacity: 1;
        visibility: visible;
        padding-bottom: 50px;
    }
}
@keyframes fade-out-menu {
    from {
        opacity: 1;
        padding-bottom: 50px;
    }
    
    to {
        opacity: 0;
        visibility: hidden;
        padding-bottom: 0;
    }
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

@keyframes spin-fade-out{ 
    from { 
        transform: rotate(0deg);
        opacity: 1;
    }
    to { 
        transform: rotate(360deg);
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes spin-fade-in{ 
    from { 
        transform: rotate(0deg);
        opacity: 0;
    }
    to { 
        transform: rotate(360deg);
        opacity: 1;
        visibility: visible;
    }
}


/* ALL PAGES */ 

a { 
    text-decoration: underline;
}

html { 
    background-color: white;
    margin: 2.5em;
}

body { 
    margin-left: auto;
    margin-right: auto;
    animation: fade-in-body 3.5s forwards;
    transition: 2s;
    transform: translate3d(0);
    backface-visibility: hidden;
    perspective: 1000;
}

#menu, #close { 
    top: 0;
    left: 0;
    color: rgb(60, 120, 248);
    font-size: 45px;
    position: absolute;
    transition: 1s;
}

#menu:hover, #close:hover { 
    cursor: pointer;
}

.dropdown-menu { 
    width: 75%;
    margin-top: -35px;
    margin-left: 55px;
    margin-bottom: 10px;
    position: relative;
    transition: 1s;
}
.dropdown-menu ul { 
    list-style: none;
    width: 100%;
}
.dropdown-menu li { 
    width: 100%;
    font-size: x-large;
}
.dropdown-menu li:hover { 
    cursor: pointer;
    color: rgb(60, 120, 248);
}

.page { 
    position: fixed; 
    margin-left: auto; 
    margin-right: auto; 
    left: 0;
    right: 0;
    width: 90%;
    transition: 1s;
}

.title h1 { 
    font-size: 40px; 
    margin-top: -75px; 
    text-align: center;
    color: black;
    transition: 1s;
}

.info { 
    margin-top: 1em;
}

@media all and (min-width: 800px) {
    .title h1 { 
        font-size: 50px;
    }
    #menu, #close { 
        top: 2.5%;
        left: 2.5%;
    }
    .dropdown-menu { 
        width: 30%;
        margin-top: -20px;
        margin-left: 45px;
    }
    .page { 
        width: 750px
    }
}

@media all and (min-width: 1024px) {
    .title h1 { 
        font-size: 55px;
    }
    .page { 
        width: 1000px
    }
}


/* ANIMATION CLASSES */ 

.spin-out { 
    animation: spin-fade-out 1s forwards;
    transform: translate3d(0);
}

.spin-in { 
    animation: spin-fade-in 1s forwards;
    transform: translate3d(0);
}

.fade-in-menu { 
    animation: fade-in-menu 1s forwards;
    transform: translate3d(0);
    will-change: fade-in-menu; 
}
.fade-out-menu { 
    animation: fade-out-menu 1s forwards;
    transform: translate3d(0);
    will-change: fade-out-menu; 
}

.current { 
    color: rgb(60, 120, 248);
}

.fade-in-page { 
    animation: fade-in-body 1s forwards;
    transform: translate3d(0);
    will-change: fade-in-body; 
}

.fade-out-page { 
    animation: fade-out-body 1s forwards;
    transform: translate3d(0);
    will-change: fade-out-body; 
}