.info { 
    margin-top: 1em;
}

.info a { 
    color: black;
}

.info h2, .info h3, .info h4, .info p { 
    margin-top: .5em;
    transition: 1s;
}

.info h2 { 
    color: rgb(60, 120, 248);
}

@media all and (min-width: 800px) {
    .info h2 { 
        font-size: 25px;
    }
    .info h3 { 
        font-size: 22px;
    }
    .info p, .info h4 { 
        font-size: 20px;
    }
}

@media all and (min-width: 1024px) {
    .info h2 { 
        font-size: 30px;
    }
    .info h3 { 
        font-size: 25px;
    }
    .info p, .info h4 { 
        font-size: 22px;
    }
}
