@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

* { 
	transition: 1s;
}

html, body { 
	height: 100%;
}

body { 
	background-image: url("./photos/fireworks.gif");
	width: 100vw;
	height: 100vh;
}

img { 
	width: 250px;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	border-radius: 100px;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite; 
}

#list-main { 
	font-weight: bold;
}





