body {
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
    font-size: large;
}

@media (max-width: 768px) {
    body {
        margin: 0;
    }

    #bio {
        margin-left: 15px;
        margin-bottom: 25px;
        margin-top: 50px;
    }

    #contact {
        margin-bottom: 50px;
    }
}

img {
    margin-bottom: 25px;
}

#info {
    font-size: smaller;
    margin-bottom: 25px;
    margin-top: -5px;
}

#svgs {
    display: flex;
    gap: 25px;
    flex-direction: row;
    flex-wrap: wrap;
}

#rights {
    font-size: small;
}
